body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.intro-title{
	text-align: center; 
	/* display:flex;
	flex-direction: row; */
}

.information-boxes{
	display:flex;
	justify-content: center;
}